# fly.toml app configuration file generated for recipe-book-go-htmx-wild-frog-3433 on 2024-10-05T12:02:42+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'recipe-book-go-htmx'
primary_region = 'lhr'

[build]

[env]
  PORT = '8080'

[processes]
  app = "run-app --db data/recipes.db --static-path /data/static/ --enable-filesync"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  internal_port = 9000
  protocol = "tcp"
  processes = ["app"]
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    port = 9000
    handlers = ["tls"]

[[vm]]
  size = 'shared-cpu-1x'
  processes = ["app"]

[[mounts]]
  source = "data"
  destination = "/data"
  snapshot_retention = 1
  processes = ["app"]
